.SignIn {
  background-color: #efefef;
  width: 500px;
  margin: 100px auto;
  height: 300px;
  border-radius: 10px;
}

.SignIn form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.SignIn button, .SignIn .link, .SignIn h1 {
  margin: 5px 0;
}

.SignIn input {
  margin: 5px;
}

.SignIn h1 {
  font-size: 42px;
}
