.Profile {
  margin: 10px;
}

.Profile form {
  margin: 0 10px;
}

.Profile .profile-title {
  margin: 10px 0 0 10px;
  font-size: 36px;
}

.Profile .profile-subtitle {
  margin-left: 10px;
  font-size: 24px;
}
