.Profile {
  overflow: auto;
}

.Profile .sidebar {
  background-color: #bbb;
  width: 400px;
  padding: 20px;
  height: 100%;
  position: fixed;
}

@media (max-width: 767px) {
  .Profile .sidebar {
    position: static;
    width: 100%;
  }
}

.Profile .profile-picture {
  background-color: #fff;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
  display: inline-block;
  box-shadow: 0 0 5px #333;
  margin: 0 15px 5px 0;
}

.Profile .profile-title {
  margin: 0 10px 0 0;
  display: inline-block;
  font-size: 36px;
  vertical-align: bottom;
}

.Profile .profile-subtitle {
  display: inline-block;
  font-size: 24px;
  vertical-align: bottom;
  margin-bottom: 5px;
}

.Profile .status-input {
  margin: 10px 5px 0 0;
  width: 225px;
}

.Profile .status-updated, .Profile .status-text {
  margin: 10px 0;
}
