* {
  font-family: 'Montserrat', sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #ffffff, #f8f8f8)!important;
}

button {
  cursor: pointer;
}

textarea {
  resize: none!important;
}

button, input, textarea {
  border-radius: 5px!important;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Shadows */

.shadowed {
  box-shadow: 0 2px 5px #999;
}

.hover-shadow {
  box-shadow: 0 2px 5px #999;
  transition: 0.25s ease-in-out;
}
.hover-shadow:hover {
  box-shadow: 0 2px 12px #999;
}

/* Form */

.Form {
  background-color: #efefef;
  width: 500px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 20px;
}

.Form form {
  height: 100%;
}

.Form button, .Form .link, .Form p {
  margin: 5px 0;
}

.Form input {
  margin-bottom: 10px;
}

.Form label {
  margin: 0;
}

.Form h1 {
  margin: 0;
  font-size: 42px;
  font-weight: bold;
}

.Form .tagline {
  text-align: center;
  margin: 2px 0 0 0;
}

.Form hr {
  margin: 10px 0;
  border: 1px solid #cfcfcf;
  width: 80%;
}
