.FriendsPosts {
  float: left;
  height: 100%;
  overflow-y: scroll;
}

@media (max-width: 575px) {
  .FriendsPosts {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .FriendsPosts {
    margin-right: 0;
  }
}
