.FriendsPosts {
  float: left;
  height: 100%;
  overflow-y: scroll;
  width: calc(100% - 440px);
}

@media (max-width: 575px) {
  .FriendsPosts {
    min-width: 100%;
  }
}

@media (max-width: 991px) {
  .FriendsPosts {
    width: calc(100% - 220px);
  }
}
