.Discover {
  background-color: #bbb;
  float: right;
  height: 100%;
  width: 220px;
  overflow-y: scroll;
}

.Discover .may-know {
  margin: 10px 0 0 10px;
}

.Discover .user-list {
  display: flex;
  flex-wrap: wrap;
}

.Discover .user-list .User {
  width: 100%;
  margin: 5px 10px;
}

@media (max-width: 991px) {
  .Discover {
    display: none;
  }
}
