.FriendsList .friends-users {
  display: flex;
}
.FriendsList .User {
  width: 180px;
}
.FriendsList .friend-button {
  margin: 5px 10px;
}

.FriendsList .friends-posts {
  display: flex;
}
.FriendsList .PostList {
  width: 200px;
}
.FriendsList .PostList .Post {
  width: 180px;
}
