.FriendsList .friends-title {
  margin: 5px 0 0 0;
  font-size: 32px;
}

.FriendsList .friends-hr {
  width: 60%;
  margin: 0 auto;
  border: 1px solid #999;
}

.FriendsList .friends-users {
  background-color: #bbb;
  width: 220px;
  position: fixed;
  height: 100%;
}

@media (max-width: 575px) {
  .FriendsList .friends-users {
    display: none;
  }
}
