.Navbar {
  background-color: #efefef;
  min-height: 75px;
  box-shadow: 0 2px 5px #999;
}

.navbar-brand img {
  height: 50px;
}

.navbar-nav li a, .navbar-nav li button, .navbar-nav li input, .navbar-nav li p {
    float: right;
}

.navbar-nav .nav-item {
  margin: auto 0;
}

/* Top */
@media (min-width: 992px) {
  .Navbar .link {
    margin-right: 20px;
  }
  .Navbar .sign-out-button {
    margin-left: 20px;
  }
}
/* Dropdown */
@media (max-width: 991px) {
  .Navbar button, .Navbar input {
    margin-top: 10px;
  }
  .Navbar .link {
    margin-top: 5px;
  }
  .Navbar .sign-out-button {
    margin-bottom: 10px;
  }
}
