.Post {
  background-color: #efefef;
  word-break: break-word;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

.Post h1 {
  display: inline-block;
  font-size: 24px;
  margin: 0 5px 0 0;
}

.Post .link {
  display: inline-block;
  margin: 0;
}

.Post h2 {
  font-size: 12px;
  margin: 0;
  color: #999;
}

.Post p {
  margin: 10px 0;
}

.Post .delete-button {
  margin-left: 10px;
}
