.Settings {
  width: 540px;
}

.Settings input {
  margin: 0 5px;
  width: 180px;
}

.Settings .cancel-button {
  margin-left: 5px;
}

.Settings .file-input {
  width: 240px;
  border: 1px solid #999;
  overflow: hidden;
}

.Settings button {
  margin: 12px 0;
}
