.Message {
  background-color: #efefef;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
}

.sent-message {
  background-color: #209cee;
}

.Message h6 {
  /* font-size: 12px; */
  margin: 0;
  color: #555;
}

.Message p {
  margin: 5px 0;
}

.Message .delete-button {
  height: 25px;
  width: 25px;
  padding: 0;
  padding-bottom: 3px;
  font-size: 16px;
}
