.Message {
  background-color: #efefef;
  padding: 10px;
  margin: 10px 20px;
  border-radius: 10px;
}

.Message h6 {
  font-size: 12px;
  margin: 0;
  color: #999;
}

.Message .new-text {
  color: #2196f3;
}

.sent-message {
  background-color: #209cee;
}
.sent-message h6 {
  color: #0c639d;
}

.Message p {
  margin: 5px 0;
}

.Message .delete-button {
  margin-left: 10px;
}
